<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <title>Watch List</title> -->
<!-- load Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<!-- Michaels Style link for personal dev -->
<link rel="stylesheet" href="/Users/michaelgoedel/Desktop/codingDojo/P&A/groupProject/Group-Project/movie_hub/flask_app/static/style.css">
    <title>New List</title>
</head>
<body>
    <div class="fluid-container mx-5 py-3">
        <div class="row align-items-center">
            <div class="col-10";>
                <h1>Movie Hub</h1>
                <!-- Jinja: user['username'] -->
                <h4>Welcome, {{user['username']}}</h4>
            </div>
            <div class="col-2">
                <div>
                    <a class="text-decoration-none text-dark" href="">&lt; Dashboard</a>
                </div>
                <div>
                    <a class="text-decoration-none text-dark" href="">&lt; Log-Out</a>
                </div>
            </div>
        </div>

        <form class="my-4 d-flex justify-content-center" action="">
            <div class="search-bar d-flex justify-content-around">
                <label for="search">Search Movie</label>
                <input class="shadow" type="text" name="search" id="search">
                <input class="shadow" type="button" value="Add Movie">
            </div>
            </form>
        <div class="row my-5">
            <div class="col-12 position-relative">
                <div class="box testBorder p-3 watch-list-box shadow">
                    <div class="overlay-text">
                        <p>Movies</p>
                    </div>
                    <!-- Jinja: movies_on_list -->
                    {% for movie in movies_on_list %}    <!--Need to take a look at this for loop-->
                        <div class="d-flex justify-content-between align-items-center mx-5 my-5">
                            <div class="picture testBorder shadow">
                                <!-- Jinja: NOT SURE? PROBABLY A PATH TO MOVIE POSTER -->
                                <img src="{{movie['poster']}}" alt="Movie Poster"></img>
                            </div>
                            <div>
                                <h5>
                                    <!-- Jinja: movie['title'] -->
                                    {{movie['title']}}
                                </h5>
                            </div>
                            <div>
                                <p>
                                    <!-- Jinja: movie['desc'] -->
                                    {{movie['desc']}}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

