*{
    box-sizing: border-box;
}

.testBorder{
    border: 2px solid black;
}

.overlay-text {
    position: absolute;
    top: -23px; /* Adjust top position to overlay the border */
    left: 20px; /* Adjust left position to overlay the border */
    background-color: rgb(255, 255, 255); /* Background color of the overlay */
    padding: 10px; /* Adjust padding as needed */
    height: 40px;
}

.picture{
    height: 110px;
    width: 110px;

    /* height: 20%;
    width: 8%; */
}

.watch-list-box{
    max-height: 600px;
    min-height: 300px;
    overflow-y: auto;
}

.comment-box{
    max-height: 300px;
    overflow-y: auto;
}

.description-box{
    height: 300px;
    overflow-y: auto;
}

#watched{
    width: 20px;
    height: 20px;
}

.search-bar{
    width: 70%;
}

.poster-view-size{
    width: 200px;
    height: 200px;
}