body{
    background-color: antiquewhite;
}
.testBorder{
    border: 2px solid black;
}

.overlay-text {
    position: absolute;
    top: -23px; /* Adjust top position to overlay the border */
    left: 20px; /* Adjust left position to overlay the border */
    background-color: rgb(255, 255, 255); /* Background color of the overlay */
    padding: 10px; /* Adjust padding as needed */
    height: 40px;
}

.picture{
    height: 110px;
    width: 110px;

    /* height: 20%;
    width: 8%; */
}

.watch-list-box{
    overflow-y: auto;
}

.comment-box{
    max-height: 300px;
    overflow-y: auto;
}

.description-box{
    height: 300px;
    overflow-y: auto;
}

#watched{
    width: 20px;
    height: 20px;
}

.search-bar{
    width: 70%;
}

.poster-view-size{
    width: 200px;
    height: 200px;
}
.navbar{
    
    background-color: black;
    border-bottom: whitesmoke 1px solid;
    
}
.top{
    text-align: center;
}
.poster{
    height: 300px;
}
.img_card{
    flex: 0 1 calc(20% - 8px);
    padding: 15px;
}
.poster_hero{
    text-align: center;
    margin: 0 auto;
}
.poster_main{
    height: 700px;
    margin: 0 auto;
}
.rating{
    display: flex;
    margin-top: 5px;
}
.rating_img{
    margin: 0 auto;
    height: 40px;
}
.view_full{
    gap: 40px;
}
.flash{
    text-align: center;
    color: red;
}
.user_list_item{
    border: black solid 1px;
}
.dash{
    text-align: center;
}
.list_img{
    height: 200px;
}
.movie_title{
    font-size: 2rem;
}